body {
	padding-top: 57px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background-color: #eee;
}
#olMapDIV {
	/*height: 100%;*/
	background-color: #eee;
}
.olControlAttribution {
	bottom: 3px;
	left: 10px;
	line-height: 9px;
	font-size: 9px;
	color: #ccc;
}

#Popup img{
	filter: alpha(opacity=50);
	opacity: 0.5;
	style: color: #ffffff;
}
#Popup a{
	color: #ffffff;
}

#olMapDIV{
    font-family: "Pathway Gothic One";
}
#liss{
    font-family: "Pathway Gothic One";
}




.btnInfo {
	/*background-image: url('images/Info.png');*/
	background-repeat: no-repeat;
	background-size: 18px 18px;
}


.olControlContentWindow {
	position: absolute;
	top: 315px;
	right: 0;
	width: 20em;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 3px;
	margin-bottom: 3px;
	font-size: smaller;
	color: white;
	background-color: transparent;
}

.olControlContentWindow .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.8);
	border-radius: 6px;
}

.olControlContentWindow .maximizeDiv,
.olControlContentWindow .minimizeDiv {
    width: 18px;
    height: 18px;
    top: 5px;
    right: 0;
    cursor: pointer;
}



#playDChas {
    width: 964px;
    height: 600px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    z-index: 9999;
}


.rounded-corners {
     -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}



#divContFaceComments {
	width: 315px;
	top: 120px;
	position: absolute;
	/* height: 400px; */
	overflow: auto;
	right: 8px;
	background-color: #fff;
	bottom: 8px;
}


#diFind {
	position: absolute;
	z-index: 9999;
	top: 70px;
	left: 75px;
	background-color: rgba(0,0,0,0.9);
	color: #fff;
}

#diFainded{
	width: 250px;
	height: 200px;
	top: 90px;
	left: 75px;
	position: absolute;
	display:none;
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	z-index:9999;
	padding: 15px;
	overflow: auto;
	font-family: sans-serif;
	font-size: 13;
}

.optHover {
	padding-left: 1px;
	list-style-type: none;
}
.optHover li{
	margin: 0 0 3px 0;
}
.optHover li:hover{
	background-color: rgb(116, 110, 110);
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}


#addSen1 {
	position: absolute;
	top: 25px;
	background-color: #fff;
	right: 8px;
	width: 315px;
	height: 90px;
}

#addSen2 {
	position: absolute;
	left: 113px;
	top: 335px;
	background-color: #fff;
	width: 543px;
	height: 100px;
}

#dShare {
	width: 100px;
	color: #fff;
	height: 266px;
	position: absolute;
	top: 335px;
}


#viewsMrk {
	position: absolute;
	top: 440;
	color: #fff;
	left: 115px;
	width: 542px;
	font-size: 20px;
}

#lastTweet {
	position: absolute;
	color: #fff;
	top: 485px;
	left: 115px;
	width: 542px;
	height: 83px;
}

#link2Site {
	position: absolute;
	top: 571px;
	color: #fff;
	left: 115;
	width: 543px;
	font-size: 25px;
}



hr {
	margin-top: 5px;
	margin-bottom: 5px;
}



.winPOP {
	position: fixed;
	top: 60px;
	width: 25%;
	height: 320px;
	z-index: 900;
	left: 5px;
	display:none;
}

.winPOPContent {
overflow-y: auto;
position: absolute;
bottom: 5px;
top: 70px;
left: 5px;
right: 5px;
}




/*########################################################################
LEFT MENU
########################################################################*/
#cbpLeftmenu .cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	top: 57px;
	bottom: 0px;
}
#cbpLeftmenu .cbp-spmenu {
	background: #FFFFFF;
}






.notif-content{
	overflow-y: auto;
	height: 40%;
	font-size: 11px;
}



#cbpLeftmenu {
	background-color: rgba(221,221,211,0.8);
}
.msgListTitle {
	/*font-size: 10px;
	position: absolute;
	top: -1px;
	left: 1px;*/
}
.msgListNotif {
}
.dateListNotif{
	font-size: 9px;
	position: absolute;
	top: -1px;
	right: 1px;
}

.stateListNotif{
	font-size: 9px;
	position: absolute;
	top: -1px;
	left: 1px;
}



.cbp-spmenu-vertical a:hover{
	color: rgb(255,255,255);
}






/*NavBar centered*/
@media (min-width: 768px){
    .navbar-center{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        /*float:none;*/
    }
    #logoLeft {
    	display: none;
    }
}

.LogoTXT{
	font-size:28px;
	top: 5px;
	position: absolute;
	z-index: 1039;
}
.LogoFirstLetterR {
	font-size:34px;
	color:#F00;
	font-weight: bold;
}



#modAccount input{
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
}





.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



.InpNonBords {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 3px;
}



img.olTileImage {
    max-width: none;
}






.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}




.oWindow {
    position: absolute;
    width: 600px;
    height: 400px;
    border-style: solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    top: 10%;
    padding: 30px;
    display: none;
    background-color: white;
}